body{
    margin: 0;
    margin-top:30px;
    background-color:white;
}
h1{
    text-align:center;
    font-size:50px;
    margin-left: 20px;
    margin-top:0;
}
p{
    text-align:center;
    font-size:20px;
    font-weight:bold;
}
label {
    margin-bottom:5px;
    margin-left:auto;
    font-size: 20px;
    font-weight:bold;
  }
input{
    display: block;
    text-align:center;
    margin:0 auto;
    margin-left:0;
    width:250px;
    height:30px;
    font-size: 16px;
    font-weight:bold;
}
button{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    width:450px;
    height: 50px;
    font-weight:bold;
}
select{
    display: block;
    text-align:center;
    margin:0 auto;
    margin-left:0;
    margin-bottom:0px;
    width:250px;
    height:40px;
    font-size: 16px;
    font-weight:bold;
}

#weight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    margin-left:100px;
    margin-bottom:20px;
}
#mode{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    margin-left:100px;
    margin-bottom:20px;
}
#activityTypeInput{
    margin-bottom:20px;
}
#modeSelection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    margin-left:100px;
    margin-bottom:20px;
}
#sub{
   display:none;
   
}
#stopButton{
    margin-bottom:30px;
}
#normal{
    margin-bottom:0;
}
#start{
    margin-bottom:20px;
}
#main{
    align-items: center;
    border: 10px solid greenyellow;
    border-radius: 30px;
    padding: 10px;
    margin:10px;
}
#passMessage{
    text-align:center;
    font-size:20px;
    font-weight:bold;
    margin:0;
    padding:0;
}
@media only screen and(max-width:750px){
    body{
        margin: 0;
        margin-top:30px;
        background-color:white;
    }
    h1{
        text-align:center;
        font-size:50px;
        margin-left: 20px;
        margin-top:0;
    }
    p{
        text-align:center;
        font-size:20px;
        font-weight:bold;
    }
    label {
        margin-bottom:5px;
        margin-left:auto;
        font-size: 20px;
        font-weight:bold;
      }
    input{
        display: block;
        text-align:center;
        margin:0 auto;
        margin-left:0;
        width:250px;
        height:30px;
        font-size: 16px;
        font-weight:bold;
    }
    button{
        display: block;
        margin: 0 auto;
        font-size: 20px;
        width:450px;
        height: 50px;
        font-weight:bold;
    }
    select{
        display: block;
        text-align:center;
        margin:0 auto;
        margin-left:0;
        margin-bottom:0px;
        width:250px;
        height:40px;
        font-size: 16px;
        font-weight:bold;
    }
    #weight{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:40px;
        margin-left:50px;
        margin-bottom:20px;
    }
    #mode{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:40px;
        margin-left:50px;
        margin-bottom:20px;
    }
    #activityTypeInput{
        margin-bottom:20px;
    }
    #modeSelection{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:40px;
        margin-left:50px;
        margin-bottom:20px;
    }
    #sub{
       display:none;
       
    }
    #stopButton{
        margin-bottom:30px;
    }
    #normal{
        margin-bottom:0;
    }
    #start{
        margin-bottom:20px;
    }
    #main{
        border: 10px solid greenyellow;
        border-radius: 30px;
        padding: 10px;
        margin:10px;
        text-align:center;
    }
    #passMessage{
        text-align:center;
        font-size:20px;
        font-weight:bold;
        margin:0;
        padding:0;
    }
}
